@import url("https://fonts.googleapis.com/css?family=Lora|Noto+Sans:400,700&display=swap");
body {
  padding-top: calc(56px + 2rem);
  font-family: "Noto Sans", sans-serif;
  color: black;
}

.container {
  max-width: 960px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lora", serif;
}

nav.navbar {
  background: white;
  border-bottom: 2px #B22424 dotted;
}

nav.navbar .navbar-brand {
  font-family: "Lora", serif;
  color: #B22424;
}

nav.navbar .nav-link {
  text-transform: uppercase;
}

a {
  color: #B22424;
  text-decoration: none;
}

a:hover, a:focus {
  color: #B22424;
}

.vcard {
  width: 100%;
  margin: 0.5rem;
  /*@media(min-width: 992px) {
    width: calc(33% - 1rem);
  }*/
}

@media (min-width: 768px) {
  .vcard {
    width: calc(50% - 1rem);
  }
}

.text-accent {
  color: #B22424;
}
