@import url('https://fonts.googleapis.com/css?family=Lora|Noto+Sans:400,700&display=swap');

$font-text: 'Noto Sans', sans-serif;
$font-heading: 'Lora', serif;

$color-text: black;
$color-accent: #B22424;
