@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Montserrat:400,700&display=swap');

// Fonts
$font-text: 'Montserrat', sans-serif;
$font-heading: 'Bebas Neue', sans-serif;

// Default colors
$color-text: white;
$color-background: #20242d;
$color-text-blue: #3b5d61;

// Light and dark colors
$color-light: white;
$color-dark: #20242d;

// Accent colors
$color-accent-red: #ce4a31;
$color-accent-yellow: #f4c957;
$color-accent-blue: #083f58;
$color-accent-darkblue: #073b55;
$color-accent-pastelblue: #3b5d61;
