@import "variables";
@import "helpers";

body {
  font-family: $font-text;
  background-color: $color-background;
  color: $color-text;
}

.container {
  //max-width: 960px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
}

a {
  color: $color-accent-red;
}

a {
  color: $color-accent-red;
  text-decoration: none;

  &:hover, &:focus {
    color: $color-accent-red;
  }
}

// Page header
header {
  height: 45vh;
  background-color: black;

  transition: height 0.4s ease-in-out;

  .header-image {
    width: 100%;
    height: 100%;
    background-image: url("../assets/splash.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header-content {
    width: 100%;
    height: 100%;
    padding: 2.5rem;

    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .header-iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}

// Navigation bar
nav {
  .navbar-brand {
    color: $color-accent-red;
  }

  .nav-link {
    color: $color-light !important;

    font-weight: bold;
    text-transform: uppercase;
  }
}

main .container {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.vcard {
  width: 100%;
  margin: 0.5rem;

  @media(min-width: 768px) {
    width: calc(50% - 1rem);
  }

  /*@media(min-width: 992px) {
    width: calc(33% - 1rem);
  }*/
}

.text-accent {
  color: $color-accent-red;
}
