@import "variables";

body {
  padding-top: calc(56px + 2rem);
  font-family: $font-text;
  color: $color-text;
}

.container {
  max-width: 960px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
}

nav.navbar {
  background: white;
  border-bottom: 2px $color-accent dotted;

  .navbar-brand {
    font-family: $font-heading;
    color: $color-accent;
  }

  .nav-link {
    text-transform: uppercase;
  }
}

a {
  color: $color-accent;
  text-decoration: none;

  &:hover, &:focus {
    color: $color-accent;
  }
}

.vcard {
  width: 100%;
  margin: 0.5rem;

  @media(min-width: 768px) {
    width: calc(50% - 1rem);
  }

  /*@media(min-width: 992px) {
    width: calc(33% - 1rem);
  }*/
}

.text-accent {
  color: $color-accent;
}
